* {
    margin: 0 ;
    padding: 0;    
}

@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@1,300&family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

 a, h1, h2, h3,h4,h5{
    font-family: 'Lora', serif;
 }

 li{
    font-family: 'Lora', serif;
 }
body {
    opacity: 0.95;
    background-image: url(https://img.freepik.com/free-photo/dentist-with-smile_144627-886.jpg?w=1060&t=st=1663289150~exp=1663289750~hmac=e7157ddeb7339a431671782a1de5fa2719046bdf86e80f3e96cb0b3382bff651) ;
    position: absolute;   
}

p{
    font-family: 'Aleo', serif;
}

.navbar-toggler-icon  {
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 255, 7, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
