*{
    margin: 0;
    padding: 0;
    color: white;
    background-color: var(--main-bg-color);
}

:root {
    --main-bg-color: #191919;
}



nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    background-color: black;
    opacity: 0.8;
    box-shadow: 5px 5px 5px white;
}
.title-name{
    font-size: 0.8em;
}

.title-name p{
    font-size: 0.6em;
}


.home-img {
    width: 100vw;
    height: 45vh;
    background-size: cover;  
}
.text-home-div{
    position: absolute;
    top: 15em;
    padding: 5% 5%;
    background-color: black;
    z-index: 0;
    opacity: 0.8;
    font-size: 1em;
}
.profile-container{
    background-color: aqua;
    display: block;
    color: black;
}


.profile-container img{
    width: 100vw;
    height: 40vh;
    background-size: cover;
}

@media only screen and (min-width: 280px) {
    .text-home-div{
        font-size: 0.8em;
    }
  }



@media only screen and (min-width: 400px) {
    .profile-container img{
        width: 100vw;
        height: 70vh;
        background-size: cover;
    }
  }

  @media only screen and (min-width: 800px) {
    .profile-container img{
        width: 100vw;
        height: 100vh;
        background-size: cover;
    }
  }

.card-container{
    padding: 20px;
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
    line-height: 2em;
    background-color: antiquewhite;
    align-items: center;
    flex-direction: column;
}

.copy-right{
    text-align: center;
}

.menu-container{
    position: absolute;
    background-color: rgb(6, 6, 6);
    height: 15vh;
    padding: 20px;
    margin: 1px;
    right: 0;
    top: 42px;
    text-decoration: none;
    color:  white;
    z-index: 2;
    transition: top 0.3s;
}

li{
    list-style: none;
}

.description-text{
    padding: 10%;
    margin-top: 0;
}

.card-container{
    margin-top: 0;
    background-color: var(--main-bg-color);
}

.copy-right{
    background-color: green;
    font-size: 10px;
}